* {
    font-family: Tahoma, Monaco, Verdana;
    text-align: center;
    background-color: #e79caa;
}

a {
    color: #044236;
}

img {
    height: auto;
    width: 300px;
}

h2 {
    background-color: #e9d5be;
}

li {
    list-style-type: none;
}

h3, p {
    text-align: left;
}