* {
    font-family: Tahoma, Monaco, Verdana;
    text-align: center;
}

img {
    height: auto;
    width: 300px;
}

body {
    background-color: #e79caa;
    
}

h2 {
    background-color: #e9d5be;
}

li {
    list-style-type: none;
}