* {
    font-family: Tahoma, Monaco, Verdana;
    text-align: center;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

body {
    background-color: whitesmoke;
    line-height: 1.2;
    
}

.recipe {
    width: 500px;
    margin: 20px auto;
    padding: 7.5px;
    background-color: #e79caa;
}

a {
    color: #044236;
    display: block;
    margin: 8px;
}

img {
    height: auto;
    width: 300px;
}

h2 {
    background-color: #e9d5be;
    
}

li {
    list-style-type: none;
}

h3, p {
    text-align: left;
    margin: 3.5px;    
}